body {
    --color1: #e0af3a;
    --color2: #ffe5a1;
    --color3: #711f31;
    --color4: #9e3845;
    --color5: #355367;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#355367;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:#711f31;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color: #ffe5a1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.wrapper{
    display: grid;
    width: 100%;
    grid-template-areas: 
                    "zona-1 zona-1 zona-1 zona-1"
                    "zona-3 zona-2 zona-2 zona-4"
                    "zona-8 zona-8 zona-8 zona-8"
                    "zona-7 zona-7 zona-5 zona-6";      
    grid-template-columns: 1fr 1fr 1fr 1fr;        
}
.wrapperSection{
    background-color: #e0af3a;
    padding: 10px;
}
#area1{  
    grid-area: zona-1; 
}
#area2{  
    grid-area: zona-2; 
}
#area3{  
    grid-area: zona-3;
}
#area4{  
    grid-area: zona-4; 
}
#area5{  
    grid-area: zona-5; 
}
#area6{  
    grid-area: zona-6; 
}
#area7{  
    grid-area: zona-7; 
}
#area8{  
    grid-area: zona-8; 
}

@media (max-width: 500px) {
    .wrapper {
        grid-template-areas:
            "zona-1  zona-1"
            "zona-2  zona-3"
            "zona-2  zona-4"
            "zona-5  zona-6"
            "zona-7  zona-8";
        grid-template-columns: 1fr 1fr;
    }
    .wrapper p{
        font-size: 0.5em;
    }
}

@media (max-width: 700px) {
    .wrapper {
        grid-template-areas:
            "zona-1  zona-1  zona-1  zona-1"
            "zona-2  zona-2  zona-3  zona-3"
            "zona-2  zona-2  zona-4  zona-4"
            "zona-8  zona-8  zona-8  zona-8"
            "zona-5  zona-6  zona-6  zona-7";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .wrapper p{
        font-size: 0.75em;
    }
}