body {
    --color1: #e0af3a;
    --color2: #ffe5a1;
    --color3: #711f31;
    --color4: #9e3845;
    --color5: #355367;
    background-color: var(--color2);
}

.wrapper{
    display: grid;
    width: 100%;
    grid-template-areas: 
                    "zona-1 zona-1 zona-1 zona-1"
                    "zona-3 zona-2 zona-2 zona-4"
                    "zona-8 zona-8 zona-8 zona-8"
                    "zona-7 zona-7 zona-5 zona-6";      
    grid-template-columns: 1fr 1fr 1fr 1fr;        
}
.wrapperSection{
    background-color: #e0af3a;
    padding: 10px;
}
#area1{  
    grid-area: zona-1; 
}
#area2{  
    grid-area: zona-2; 
}
#area3{  
    grid-area: zona-3;
}
#area4{  
    grid-area: zona-4; 
}
#area5{  
    grid-area: zona-5; 
}
#area6{  
    grid-area: zona-6; 
}
#area7{  
    grid-area: zona-7; 
}
#area8{  
    grid-area: zona-8; 
}

@media (max-width: 500px) {
    .wrapper {
        grid-template-areas:
            "zona-1  zona-1"
            "zona-2  zona-3"
            "zona-2  zona-4"
            "zona-5  zona-6"
            "zona-7  zona-8";
        grid-template-columns: 1fr 1fr;
    }
    .wrapper p{
        font-size: 0.5em;
    }
}

@media (max-width: 700px) {
    .wrapper {
        grid-template-areas:
            "zona-1  zona-1  zona-1  zona-1"
            "zona-2  zona-2  zona-3  zona-3"
            "zona-2  zona-2  zona-4  zona-4"
            "zona-8  zona-8  zona-8  zona-8"
            "zona-5  zona-6  zona-6  zona-7";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .wrapper p{
        font-size: 0.75em;
    }
}

.btn{
    display: flex;
}

.btn-iframe{
    display: flex;
    flex-direction: column;
}

.btn-iframe a{
    text-decoration:none;
    width:100px;
    border:1px solid black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: var(--color4);
    color:black;
    transition: all 0.5s linear;
    text-align: center;
}

.btn-iframe a+a{
    margin-top:2px;
}

.btn-iframe a:hover{
    color:white;
    background-color: var(--color3);
}

.vid-iframe{
    border: 2px solid black;
}

#link-top{
    position: fixed;
    opacity:0.7;

    bottom:1px;
    right:1px;
    width:50px;
    height:50px;
    background:rgba(0, 0, 0, 0);
    border-radius: 1.5rem;
    border:6px solid var(--color5);
    border-top: none;
    border-bottom: none;
}
#link-top:hover{
    opacity:1;
}
#triangle{
    position:absolute;
    bottom:16px;
    right:20%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--color5);   
    transition: all 0.7s;
    transform: translateY(0);
}
#triangle:hover{
    transition: all 0.7s;
    transform: translateY(-70%);
    border-bottom: 15px solid var(--color4);  
}