<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name = "keywords" content = "muzica, instrumente, sunet, audio, profesionist, chitara, tobe, bass, bete de tobe, chitara electrica, chitara clasica, chitara acustica, saxofon, clarinet, vioara, melodie, cursuri, amplificator, sistem audio, boxe, casti">
        <meta name = "description" content = "Magazin de instrumente muzicale">
        <meta name = "author" content = "Radu Mihai Gheorghe">
        <%- include("../fragmente/head.ejs"); %> 
        <title>R_Music</title>
    </head>
    <body>
        <%- include("../fragmente/header.ejs"); %> 
        <main>
            <h1>Error 404 Not Found</h1>
        </main>
        <%- include("../fragmente/footer.ejs"); %> 
    </body>
</html>