<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name = "description" content = "Magazin de instrumente muzicale">
        <meta name="keywords" content = "muzica, instrumente, sunet, audio, profesionist, chitara, tobe, bass, bete de tobe, chitara electrica, chitara clasica, chitara acustica, saxofon, clarinet, vioara, melodie, cursuri, amplificator, sistem audio, boxe, casti">
        <link rel="stylesheet" href="/resurse/css/style.css" type="text/css" />
        <%- include("../fragmente/head") %>     
        <title>R_Music - logout</title>
    </head>
    <body>
        <%- include("../fragmente/header") %>
        <main>
            Ai fost delogat!
        </main>
        <footer>
            <%- include('../fragmente/footer') %>
        </footer>

    </body>
</html>