<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - Logout">
        <meta name="keywords" content="cofetarie, Dulcelind, logout">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Cofetăria Dulcelind - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>