#hamburger{
    display:block;
}

ul.meniu{
    display:none;
    position:absolute;
    width:100%;
}

#ch-menu:checked+ul.meniu{
    display: block;
    z-index: 2;
    position: relative;
    transform-origin: 0 0;
    animation-name: aparitie_meniu_p;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}

#ch-menu:checked + ul.meniu>li>div, #ch-menu:checked + ul.meniu>li>a{
    z-index: 2;
    position: relative;
    transform-origin: 50% 50%;
    animation-name: aparitie_meniu_p_btn;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}

#ch-menu:checked + ul.meniu>li>div:hover, #ch-menu:checked + ul.meniu>li>a:hover{
    background-color:#28465a;
}

nav ul.meniu li{
    width:100%;
}

nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:200;
    transform:scale(1,1);
}

#ch-menu:checked+ul.meniu>li ul>*{
    position:relative;
    z-index:200;
}
nav ul.meniu>li:hover>ul{
    z-index:200;
    animation:none;
}

@keyframes aparitie_meniu_p {
    0% {
      transform: rotate(-90deg);
      transform-origin: left;
      opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
      transform: rotate(0deg);
      transform-origin: left;
      opacity: 1;
    }
}

@keyframes aparitie_meniu_p_btn{
    0%{
        transform:scale(0,0);
    } 
	100%{
    	transform:scale(1,1);
    }
}