body{
    --inaltime-meniu: 2.5rem;
}

nav ul.meniu ul{
    display: none;
	position: absolute;
    width: 100%;
}

nav{    
    height: var(--inaltime-meniu);
    width: 100%;
    top: 0;
    position: sticky;
    background: var(--color5);
    z-index:10;
}
nav ul.meniu>li{
    float: left;
    width: 100px;
	position: relative;
}

nav ul, nav li{
    padding:0;
    margin:0;
}

.gradientBar{
    overflow: hidden;
}

.gradientBar::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to right, var(--color5), var(--color2));
    transition: all 1s;
    transform: translateX(100%);
}

.gradientBar:hover::before{
    transform: translateX(0);
}

nav ul.meniu li{
    text-align: center;
    list-style-type: none;
    background: var(--color5);
    cursor: pointer;
}

nav ul.meniu li a, nav ul.meniu li div{
    text-decoration: none;
    color: var(--color7);
    display: block;
    font-weight: bold;
    height: var(--inaltime-meniu);
    line-height: var(--inaltime-meniu);
}

ul.meniu a:hover, ul.meniu div:hover{
    background: #28465a;
}

ul.meniu a, ul.meniu div{
   transition: background 300ms linear; 
}

nav ul.meniu>li:hover>ul{
	display:block;
    animation-name: aparitie_meniu;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    width: 100%;
}

#hamburger{
    display: none;
    height: var(--inaltime-meniu);
}

#ch-menu{
    display: none ;
}

#hamburger img{
    height:100%;
    width:auto;
}

@keyframes aparitie_meniu{
    0%{
        transform:scale(1,0);
    }
    50%{
        transform:scale(1,0.5);
    }
    100%{
        transform:scale(1,1);
    }
}

@media screen and (max-width: 700px) {
    .gradientBar::before{
        background: var(--color5);
    }
}