#tab-orar{
    text-align:center;
}

#tab-orar td, #tab-orar th{
    border:1px solid var(--color6);
    padding:0.2rem;
}

#tab-orar{
    border-collapse: collapse;
}

#tableContainer{
    border: 2px solid var(--color6);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

#tab-orar .columnAlternate th:nth-child(odd){
    background: var(--color3);
}

#tab-orar .columnAlternate th:nth-child(even){
    background: var(--color4);
}

#tab-orar .columnAlternate td:nth-child(odd){
    background: var(--color3);
}

#tab-orar .columnAlternate td:nth-child(even){
    background: var(--color4);
}

#tab-orar .columnAlternateReverse td:nth-child(even){
    background: var(--color3);
}

#tab-orar .columnAlternateReverse td:nth-child(odd){
    background: var(--color4);
}

#orarCaption{
    caption-side: bottom;
    background-color: var(--color4);
}

@media (max-width: 500px) {
    #tableContainer{
        width: 100%;
        overflow: auto;
    }
}

@media (max-width: 700px) {
    #tableContainer{
        width: 100%;
        overflow: auto;
    }
}