main{
    --padd-main: 1rem;
    padding-left: var(--padd-main);
    padding-right: var(--padd-main);
}

p, h1, h2, h3, address, aside, details, ul, ol, figcaption, #filtrare1{
    color: var(--color8);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 1rem;
    box-shadow: 0px 0px 0.1rem 0.1rem var(--color4);
    background-color: var(--color1);
    overflow: hidden;
}

.grid-produse .produs h3{
    background-color: var(--color3);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:var(--color6);
}

.grid-produse .produs h3 a:hover{
    color:var(--color7);
}

.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid var(--color3)
}

.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--color4);
}

.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--color4);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produs{
    position: relative;
}

.selecteaza-cos{
    display: inline-block;
    background-color: var(--color1);
    position:absolute;
    bottom:0.5rem;
    right:0.9rem;
    border-radius: 0.9rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--color4);
    border:1px solid  var(--color6);
}