<footer>
    <section id="contact">
        <h2>Detalii de contact</h2>
        <address>
            Numar de telefon: <a href="tel:0251091283">0251.091.283</a>.<br> 
            WhatsApp: <a href="https://api.whatsapp.com/send?phone=0251091283" target="_blank">0251.091.283</a><br>
            Adresa: <a href="https://goo.gl/maps/MTBhTX1m9sZix99Y9" target="_blank">Click aici.</a><br>
            Email: <a href="mailto:contact@rmusic.com" >contact@rmusic.com</a><br>
        </address>
    </section>
    <section id="copyright">
        <h2>Copyright</h2>
        <p>&copy; RMusic.<small> Toate drepturile rezervate.</small></p>
        <p>Pagina a fost creata pe data de <time datetime="2022-02-19">sambata, 19.02.2022</time>.</p>
    </section>
    <a href="#header" title="hai sus" id="link-top"><div id="triangle"></div></a>
</footer>