<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <p>
        <label>
            Username: <input type="text" name="username" id="inp-username" value="abc<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
        </label>
    </p>
    <p>
        <label>
            Nume: <input type="text" name="nume" id="inp-nume"  value="Steaua" >
        </label>
    </p>
    <p>
        <label>
            Prenume: <input type="text" name="prenume" id="inp-prenume" value="Bucuresti"  >
        </label>
    </p>
    <p>
        <label>
            Parola: <input id="parl" type="password" required  name="parola" value="">
        </label>
    </p>
    <p id="p-reintrod">
        <label >
            Reintroduceti parola: <input id="rparl" required type="password" name="rparola" value="">
        </label>
    </p>
    <p>
        <label>
            Email: <input type="text" name="email" id="inp-email" required value="fcsbesteaua@gmail.com"  size="50">
        </label>
    </p>
    <p>
        <label>
            Culoare text chat: <select name="culoare_chat" id="sel-culoare"><option value="red" selected>rosu</option><option value="green">verde</option><option value="blue">albastru</option></select>
        </label>
    </p>
    <p>
        <label>
            Poza: <input type="file" name="poza">
        </label>			
    </p>
    <p>		
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form>