<header id="header">
    <h1><span>R_Music</span> <span class="fas fa-compact-disc fa-solid fa-fw"></span></h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/img/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div><a href="/index">Acasa</a></div>
            <ul>
                <li><a href="/index#welcome">Bine ati venit</a></li>
                <li><a href="/index#promotii">Promotii</a></li>
            </ul>
        </li>
        <li class="gradientBar"><a href="/produse">Produse</a></li>
        <li class="gradientBar"><a href="/inregistrare">Inregistrare</a></li>
        <li><div><a href="/despre">Despre</a></div>
            <ul>                        
                <li><a href="despre.html#prezentare">Prezentare</a></li>
                <li><a href="despre.html#istoric">Istoric</a></li>
                <li><a href="despre.html#motivatie">Motivatie</a></li>
                <li><a href="/galerie">Galerie</a></li>
                <li><a href="/index#detalii">Detalii</a></li>
                <li><a href="/index#faq">F.A.Q.</a></li>
            </ul>
        </li>
        <li class="gradientBar"><a href="#contact">Contact</a></li>
        <% if(locals.utilizator){ %>
            <li><div><a><%- locals.utilizator.username %></a></div>
                <ul>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>    
        <% } %>    
        <li><button id="btn_tema"><i class="fa-solid fa-moon"></i>Dark mode</button></p></li>
    </ul>
    <% if(!locals.utilizator) { %>
        <form id="form_login"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
            <p>
                <label>
                    Username: <input type="text" name="username" id="inp-username-login" value="raducu" required pattern="[A-Za-z0-9]+">
                </label>
                <label>
                    Parola: <input id="parl-login" type="password" required  name="parola" value="">
                </label>
                <input type="submit" value="Login">
            </p>
        </form>
    <% } %>
    <%- locals.mesajLogin %>
</nav>